.nav-overlay {
    transition: clip-path 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: clip-path 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav-open {
    clip-path: circle(150% at 0% 0%);
    -webkit-clip-path: circle(150% at 0% 0%);
}
.nav-close {
    clip-path: circle(0% at 0% 0%);
    -webkit-clip-path: circle(0% at 0% 0%);
}
